@font-face {
     font-family: 'Involve';
     src: url('/Involve/Involve-Regular.ttf') format('truetype');
     font-weight: 400;
     /* Or other appropriate weight */
     font-style: normal;
}
@font-face {
     font-family: 'Involve';
     src: url('/Involve/Involve-Medium.ttf') format('truetype');
     font-weight: 500;
     /* Or other appropriate weight */
     font-style: normal;
}
@font-face {
     font-family: 'Involve';
     src: url('/Involve/Involve-SemiBold.ttf') format('truetype');
     font-weight: 600;
     /* Or other appropriate weight */
     font-style: normal;
}
@font-face {
     font-family: 'Involve';
     src: url('/Involve/Involve-Bold.ttf') format('truetype');
     font-weight: 700;
     /* Or other appropriate weight */
     font-style: normal;
}

